<html>
    <head>
        <title>Types of dogs</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Dog blogs</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Dachshund</a></h2>
            <p>Dachshunds are a very funny breed when it comes to the way the look.They have short long bodies and a huge personality.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Labrador</a></h2>
            <p>Labradors love to eat and sleep. Period.</p>
        </div>
      </body>
    </html>
